* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Lexend Deca", sans-serif;
}

$sedan-orange: hsl(31, 77%, 52%);
$suv-cyan: hsl(184, 100%, 22%);
$luxury-very-dark-cyan: hsl(179, 100%, 13%);
$copy: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

@mixin flex($direction, $justify, $align, $wrap) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}
.heading {
	font-size: calc(3rem + 1.1vw);
	color: $light-gray;
	text-transform: uppercase;
	font-family: "Big Shoulders Display", cursive;
}
P {
	font-size: calc(1.4rem + 0.2vw);
	color: $copy;
}
button {
	background: $light-gray;
	font-size: calc(1.4rem + 0.2vw);
	padding: 1.8rem 4.2rem;
	border: none;
	border-radius: 35px;
	cursor: pointer;
}

footer {
	color: rgb(31, 31, 43);
	font-size: calc(1.2rem + 0.25vw);
	height: 5vh;
	text-align: center;
	@include flex(row, center, center, nowrap);
}
