/*
-- Desktop --
*/
@media screen and (min-width: 1440px) {
	.bubble-top {
		top: -65%;
		left: -18%;
	}
	.bubble-bottom {
		bottom: -74%;
		right: -15%;
	}
}
@media screen and (min-width: 1600px) {
	.bubble-top {
		top: -38%;
		left: -10%;
	}
	.bubble-bottom {
		bottom: -45.5%;
		right: -8%;
	}
}
