* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}
$very-dark-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

html {
	font-size: 62.5%;
}
body {
	font-family: "Kumbh Sans", sans-serif;
}
h1 {
	font-size: calc(1.6rem + 0.2vw);
	color: $very-dark-blue;
}
span {
	font-weight: normal;
	color: $dark-gray;
}
h1 + p {
	font-size: calc(1.3rem + 0.2vw);
	color: $dark-gray;
}

h2 {
	font-size: calc(1rem + 0.2vw);
	letter-spacing: 0.8px;
	font-weight: normal;
	color: $dark-gray;
}

h2 + p {
	font-size: calc(1.6rem + 0.2vw);
	font-weight: 700;
	color: $very-dark-blue;
}
.victor {
	width: calc(110px + 0.5vw);
	height: auto;
	border: 0.6rem solid white;
	border-radius: 50%;
}
