/*Global*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  font-size: 1.2rem;
  font-size: calc(1rem + 0.3vh);
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
}

main {
  min-height: 100vh;
}

article {
  background-color: white;
  border-radius: 25px;
}

h1 {
  color: #1d1e35;
  font-size: 3.2rem;
  font-size: calc(3.2rem + 0.3vh);
  padding: 3rem 0;
}

h2 {
  color: 240, 6%, 50%;
  font-size: 1.2rem;
  font-size: calc(1.1rem + 0.3vh);
  font-weight: 400;
}

h2:hover {
  color: #f47c57;
}

p {
  color: #4a4b5e;
  font-weight: 400;
  padding-top: 1rem;
}

hr {
  color: #e7e7e9;
  margin: 2rem 0;
}

summary::after {
  content: url(../images/icon-arrow-down.svg);
  -webkit-transition: all, 0.5s ease;
  transition: all, 0.5s ease;
}

summary {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

details[open] summary::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

details[open] h2 {
  font-weight: 700;
}

footer {
  background-color: white;
  text-align: center;
  padding-bottom: 2rem;
}

/*Mobile*/
.desktop-img {
  display: none;
}

main {
  padding: 15rem 2.5rem 10rem 2.5rem;
}

article {
  position: relative;
  padding: 0 2rem 3rem 2rem;
}

.images {
  height: 10rem;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
}

.mobile-img {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

/*Desktop*/
@media screen and (min-width: 1400px) {
  .mobile-img {
    display: none;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-img {
    display: inline;
  }
  .images {
    height: auto;
    background-image: url(../images/bg-pattern-desktop.svg);
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    background-position: right;
    background-position-x: 118%;
    background-position-y: 74%;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    padding: 0;
  }
  .copy {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 4rem 12rem 8rem 3rem;
  }
  .copy h1 {
    text-align: left;
  }
  summary::after {
    padding-right: 1rem;
  }
  details[open] summary::after {
    padding: 0rem 1rem;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  #illustration-box {
    position: absolute;
    left: -92px;
    top: 38%;
  }
  #illustration-woman {
    position: absolute;
    left: -78px;
    top: 15%;
  }
}
/*# sourceMappingURL=style.css.map */