/*
-- Desktop --
*/
@media screen and (min-width: 1440px) {
	.bubble-top {
		top: -78%;
		left: -21%;
	}
	.bubble-bottom {
		bottom: -90%;
		right: -19%;
	}
}
@media screen and (min-width: 1600px) {
	.bubble-top {
		top: -38%;
		left: -12%;
	}
	.bubble-bottom {
		bottom: -47%;
		right: -10%;
	}
}
